body{
    background-image: url('main_background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
}
.button{
    width: 50%;
    height: 30px;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    animation-name:button_animation;
    animation-duration: 2s;
}
.button_2{
    width: 50%;
    height: 30px;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    animation-name:button_animation_2;
    animation-duration: 1s;
}
.button_3{
    width: 50%;
    height: 30px;
    font-size: 20px;
    animation-name:button_animation_2;
    animation-duration: 1s; 
    margin-bottom: 2%;
    margin-left: 25%;
}
#grammar{
    margin-top: 2%;
}
.input{
    float: inherit;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    animation-name: input_animation;
    animation-duration: 2s;
}
#header{
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 30px;
    animation-name: header_animation;
    animation-duration: 2s;
    color: brown;
}
#header_2{
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 30px;
    animation-name: header_animation_2;
    animation-duration: 2s;
    color: blue;
}
.add{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    animation-name: input_animation;
    animation-duration: 2s;
}
button{
    animation-name:button_animation_3;
    animation-duration: 2s;
}
#next_button{
    float:right;
}
#present_simple, #translate, #present_continues, #past_continues, #translate_5, #translate_4, #translate_6, #translate_7, #translate_8, #header_present_simple, #past_simple, #translate_2, #future_simple, #future_continues, #present_perfect, #past_perfect, #translate_3{
    font-size: 0px;
    width: 0%;
    height: 0px;
   margin-left: 0%;
   opacity: 0;
}
#check_it, #check_it_2, #check_it_3, #check_it_4, #check_it_5, #check_it_6, #check_it_7, #check_it_8{
    opacity: 0;
    width: 0%;
    height: 0;
}
#wynik{
    opacity: 0;
    width: 0%;
    height: 0%;
}
#tw{
    opacity: 0;
}
#back{
    opacity: 0;
}
#check_it_2{
    opacity: 0;
}
@keyframes input_animation{
    0%{
        width: 0%;
        margin-left: 0%;
        margin-right: 0%;
        float: inherit;
    }
    
    100%{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        float: inherit;
    }
}
@keyframes header_animation{
    0%{
        width: 0%;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 0px;
        color: antiquewhite;
    }
    
    60%{
        color: aliceblue;
    }

    100%{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 30px;
        color: brown;
    }
}
@keyframes header_animation_2{
    0%{
        width: 0%;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 0px;
        color: antiquewhite;
    }
    
    60%{
        color: aliceblue;
    }

    100%{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 30px;
        color: blue;
    }
}
@keyframes button_animation{
    0%{width: 0%;font-size: 0px;}
    100%{width: 50%;font-size: 20px;}
}
@keyframes button_animation_2{
    0%{width: 50%;font-size: 0px;height: 0px;}
    100%{width: 50%;font-size: 20px;height: 30px;}
}
@keyframes button_animation_3{
    0%{font-size: 0px;height: 0px;}
    100%{height: 100%;}
}
 